<h1>My posts</h1>



<ul >
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
	<li>
		<p><a data-postid="" data-author="" href="#/post/1">POST title</a></p>
		<p><span>10 upvotes</span> <span><a ui-sref="ask">10 comments</a></span></p>
	</li>
</ul>